APP_NAME="Nang Luong Tich Cuc"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8001

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=quantum_intelligence
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=database
DB_QUEUE=default
DB_QUEUE_RETRY_AFTER=90

BANK_WEBHOOK_SECRET=change-me
SEPAY_ENABLED=true
SEPAY_WEBHOOK_SECRET=
SEPAY_WEBHOOK_VERIFY_TOKEN=
SEPAY_ORDER_EXPIRE_MINUTES=30
SEPAY_WALLET_TOPUP_MIN_VND=10000
SEPAY_WALLET_TOPUP_MAX_VND=500000000
