/.phpunit.result.cache
/.env
/vendor
/node_modules
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/database/*.sqlite

!.env.example
!.gitignore
!/bootstrap/cache/.gitkeep
!/storage/app/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
